/* src/app/pages/scanner/scanner.page.scss */

.scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  ion-item {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .scan-button {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  
  .scanner-info {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    text-align: center;
  }

  .back-button {
    --color: #ffffff; /* Ícono de volver atrás en blanco */
  }