/* src/app/pages/home/home.page.scss */

ion-card {
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
}

ion-card-header {
  display: flex;
  align-items: center;
}

ion-card-title {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #000000; /* Texto negro */
}

ion-icon {
  font-size: 1.5em;
  margin-right: 10px;
  color: #002df7; /* Íconos azules */
}

.logout-icon {
  color: #ffffff; /* Ícono de cerrar sesión en blanco */
}
