<!-- src/app/pages/home/home.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-card (click)="goToProfile()">
    <ion-card-header>
      <ion-card-title>Perfil del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Consulta los datos de tu perfil, calorías recomendadas y más.
    </ion-card-content>
  </ion-card>

  <ion-card (click)="goToAlimentos()">
    <ion-card-header>
      <ion-card-title>Gestión de Alimentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Añade, modifica o elimina alimentos que consumes.
    </ion-card-content>
  </ion-card>
  

</ion-content>
